#home-page {
  width: 100%;
  height: 100%;
}

#home-page-landing {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: url("src/assets/background-Image.jpg");
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%;
  min-height: 800px;
}

#post-button {
  position: fixed;
  bottom: 2em;
  right: 2em;
}

.example-card {
  width: 70%;
  height: 30%;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}